# AWS CDK build output
cdk.out/

# Node modules
node_modules/

# Logs and temporary files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code specific
.vscode/

# MacOS files
.DS_Store

# IDE-specific files
.idea/

# TypeScript build output
*.tsbuildinfo

# AWS credentials
*.env

# Environment variables
.env
.env.*
!.env.example

# Serverless Framework artifacts (if used)
.serverless/

# Local AWS credentials cache (if used)
.aws-sdk-cache/

# CDK Watch (if using `cdk watch`)
cdk-watch.json

# Other directories or files that might be generated or local configuration
dist/

